.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 48px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 186px;
    height: 241px;
    background-image: url('/images/decor-mobile&modal.png');
    content: '';
  }
  @media screen and (min-width: $bp-desktop) {
    padding: 128px;
  }

  &__btn-close {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 40px;
    right: 40px;
  }
  &__title {
    font-size: 54px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 8px;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      font-size: 60px;
      font-weight: 900;
      line-height: 1.3;
    }
  }
  &__call-to-action {
    text-align: center;
    margin-bottom: 72px;
    color: var(--color-brand-dark);
  }
  &__form-field {
    margin-bottom: 32px;
  }
  &__button {
    margin: 0 auto 24px;
  }
}
